name: Deploy to ECS

on:
  push:
    branches: [ "main" ]

env:
  AWS_REGION: ap-south-1
  FASTAPI_REPO: lumen-uat-fastapi
  NGINX_REPO: lumen-uat-nginx

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-south-1

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build and push FastAPI image
      run: |
        docker build -t lumen-uat-fastapi -f Dockerfile .
        docker tag lumen-uat-fastapi:latest ${{ steps.login-ecr.outputs.registry }}/lumen-uat-fastapi:latest
        docker push ${{ steps.login-ecr.outputs.registry }}/lumen-uat-fastapi:latest

    - name: Build and push Nginx image
      run: |
        docker build -t lumen-uat-nginx -f Dockerfile.nginx .
        docker tag lumen-uat-nginx:latest ${{ steps.login-ecr.outputs.registry }}/lumen-uat-nginx:latest
        docker push ${{ steps.login-ecr.outputs.registry }}/lumen-uat-nginx:latest

    - name: Update ECS Service
      run: |
        aws ecs update-service \
          --cluster lumen-uat-cluster1 \
          --service lumen-uat-task-service-9mk5hllm \
          --region ap-south-1 \
          --force-new-deployment
